@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #222121 inset;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #222121;
}

::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e8e8e8;
}

::-webkit-input-placeholder {
  color: #e7e7e7e7;
}

:-moz-placeholder { /* Firefox 18- */
  color: #e7e7e7e7;  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #e7e7e7e7;  
}

:-ms-input-placeholder {  
  color: #e7e7e7e7;  
}